.slide-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #090529;
    gap: 1em;
    margin: auto;
    padding: 2rem;
}

.slide-content {
    display: flex;
    justify-content: space-around;
    margin: 20px 5%;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    padding: 6px;
    border-radius: 70%;
}

.card-wrapper {
    border-radius: 25px 25px 0 25px;
}

.card {
    width: 320px;
    color: black;
    background-color: #f8f4f4;
    border-radius: 25px 25px 25px 25px;
    border: 1px solid #dad9d9;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 24px;
}
.image-content {
    position: relative;
    row-gap: 5px;
    border-radius: 25px 25px 0 25px;
    padding: 25px 0;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #f8f4f4;
}
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 70%;
    border: 4px solid #4070F4;
    background-color: white;
    padding: 6px;
}

.button {
   border: none;
   border-radius: 6px;
   font-size: 16px;
   color: #FFF;
   padding: 8px 16px;
   background-color: #4070F4;
   margin: 14px;
   cursor: pointer;
   transition: all 0.3 ease;
}

.button:hover {
    background: #265DF2;
}